@import "../../Variables.scss";

.help {
    background-color: $color_dark;
    margin: 5rem 0rem;
    padding: 5rem 10rem;
    min-height: 75dvh;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    
    @media only screen and (max-width: 27rem){
        width: 23rem;
        max-height: 70dvh;  
        
        .help-content {
            max-height: 40dvh;
            padding: 2rem 2rem; 
            font-size: 0.75rem;  
        }   
    }
    @media only screen and (min-width: 48rem){
        width: 41rem;
        max-height: 70dvh;  
        
        .help-content {
            max-height: 40dvh;
            padding: 2rem 2rem;  
            font-size: 0.95rem;   
        }
    }
    @media only screen and (min-width: 64rem){
        width: 55rem;
        max-height: 70dvh; 
        .help-content {
            padding: 5rem 5rem;   
        }
    }
    @media only screen and (min-width: 90rem){
        width: 77rem;
        max-height: 70dvh;
        .help-content {
            padding: 5rem 5rem;   
        }    
    }

    color: $main_font_color;

    h1 {
        text-align: center;
    }

    .help-menu {
        display: flex;
        flex-direction: column;
    }

    #nav-dropdown{
        font-weight: bold;
        font-size: 1.25rem;
        border-radius: 1.25rem;
        // color: $blue;
        color: $main_font_color;
        background-color: $blue2;
        padding: 0.1rem 1rem;
    }
    #nav-dropdown:hover {
        color: $main_font_color;
        background-color: $blue-btn-hover;
    }

    .help-content {
        background-color: $blue2;
        // margin: 5rem 0rem;
        // border: 5rem solid $blue2;
        border-radius: 2rem;
        overflow: auto;
    }
}