$color_dark: rgb(30, 31, 34);
// $color_mid: rgb(43, 45, 49);
$color_mid: rgb(37, 40, 48);
$color_mid2: rgb(48, 48, 48);
$color_card: rgb(50, 55, 62);
$color_light: rgb(49, 51, 56);
$main_font_color: rgb(243, 244, 245);
$margin_app: 0% 25% 0% 25%;
$margin_container: 20px 20px;
// $margin_card: 10px 20px 10px 0px;
$margin_card: 10px 10px;
$margin_btn_card: 10px 0px 0px 10px;
// $padding_card: 15px 10px 15px 20px;
$padding_card: 1rem 1rem;
$padding_container: 20px 20px;
$blue: rgb(14, 71, 161);
$compeleted_green: rgb(25, 135, 84, 0.5);
$open_yellow: rgb(200, 150, 0, 0.8);