@import "../../Variables.scss"; 

.add-task {
    background-color: whitesmoke;
    background-color: $color_dark;
    color: $main_font_color;
    margin: 9rem 0rem;
    padding: 5rem 5rem;
    min-height: 58dvh;
    border: 1rem solid $blue2;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @media only screen and (min-width: 90rem){
        width: 40rem;
        max-height: 70dvh;
    }
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
        font-weight: bold;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        gap: 2rem;

        .form-groups {
            display: flex;
            flex-direction: column;
            // justify-content: end;
            gap: 2rem;
            // background-color: $blue2;
            // padding: 1rem 2rem 2rem 2rem;
            // border-radius: 2rem;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1rem;
    }

}